<H4>Bem vindo ao HEFESTOS</H4>
<div class="d-flex p-2 justify-content-center align-items-center">
        <div class="card d-inline-flex" style="width: 50rem;">
                <div class="card-header">
                        <h5> Selecione um método para iniciar

                        </h5>
                </div>
                <div class="card-body d-inline-flex "style="width: 10rem;">
                    <div  class="card-body d-inline-flex " style="width: 30rem;">
                        <a href="#" class="btn btn-primary btn-lg ">Cadastrar Situação</a>
                         </div>
                     <div  class="card-body d-inline-flex" style="width: 10rem;">
                        <a href="#" class="btn btn-primary btn-lg">Cadastrar Aço</a>
                     </div>
                <div  class="card-body d-inline-flex" style="width: 10rem;">
                        <a href="#" class="btn btn-primary btn-lg">Cadastrar  Eletrodo</a>
                       </div>
                         <div  class="card-body d-inline-flex" style="width: 10rem;">
                        <a href="#" class="btn btn-primary btn-lg">Cadastrar  Relação</a>
                        </div>
                </div>
        </div>
</div>
