<H4>Bem vindo ao HEFESTOS</H4>
<div class="d-flex justify-content-center align-items-center">
        <div class="card justify-content-center" style="width: 50rem;po">
                <div class="card-header">
                        <h5> Selecione um método para iniciar

                        </h5>
                </div>
                <div class="card-body ">
                        <div class="card-body ">
                                <a href="/admin/cadastro/situacao" class="btn btn-primary btn-lg ">Cadastrar Situação</a>
                        </div>
                        <div class="card-body ">
                                <a href="/admin/cadastro/aco" class="btn btn-primary btn-lg">Cadastrar Aço</a>
                        </div>
                        <div class="card-body ">
                                <a href="/admin/cadastro/eletrodo" class="btn btn-primary btn-lg">Cadastrar Eletrodo</a>
                        </div>
                        <div class="card-body ">
                                <a href="#" class="btn btn-primary btn-lg">Cadastrar Relação</a>
                        </div>
                        <div class="card-body ">
                                <a href="/cadastro/usuario" class="btn btn-primary btn-lg">Cadastrar Usuário</a>
                        </div>
                </div>
        </div>
</div>