<H4>Bem vindo ao HEFESTOS</H4>
<div class="d-flex justify-content-center align-items-center">
        <div class="card d-inline-flex justify-content-center   " style="width: 50rem;po">
                <div class="card-header">
                        <h5> Selecione um método para iniciar

                        </h5>
                </div>
                <div class="card-body  " style="width: 10rem;">
                        <div class="card-body  " style="width: 10rem;">
                                <a href="#" class="btn btn-primary btn-lg ">Cadastrar Situação</a>
                        </div>
                        <div class="card-body ">
                                <a href="#" class="btn btn-primary btn-lg">Cadastrar Aço</a>
                        </div>
                        <div class="card-body ">
                                <a href="#" class="btn btn-primary btn-lg">Cadastrar Eletrodo</a>
                        </div>
                        <div class="card-body ">
                                <a href="#" class="btn btn-primary btn-lg">Cadastrar Relação</a>
                        </div>
                </div>
        </div>
</div>