<div class="container-xxl">
    <h4>Lista de situações cadastradas:</h4>
        <a href="/admin/cadastro/situacao" class="btn btn-primary btn-md mb-2">Novo</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-highlight">
                <thead>
                    <th>idSit</th>
                    <th>SINOME</th>
                    <th>SIDESCRICAO</th>
                <tbody>
                    {{#if getSitAl}}
                    {{#each getSitAl}}
                    <tr>

                        <td>{{idSit}}</td>
                        <td>{{SINOME}} </td>
                        <td>{{SIDESCRICAO}}</td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <p class="d-flex align-items-center">Não há aços cadastrados</p>
                    {{/if}}
        </div>
        </tbody>
        </table>
</div>
