<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a href="/admin/index"><img src="/images/logosite.png" alt="" width="80" height="80"></a>
    <a class="navbar-brand" href="/admin/index" style="font-family: DalekPinpointBold;">HEFESTO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/index">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/situacao">Situações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/aco">Aços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/eletrodo">Eletrodos</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active" href="/admin/usuario">Usuários</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="#">Relações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/usuario/index">Modo consulta</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
         <a class="navbar-brand btn btn-outline-success mt-2 mb-lg-0" href="/usuario/logout" >sair</a>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="PROCURAR">
        <button class="btn btn-outline-success" type="submit">PROCURAR</button>
      </form>
    </div>
  </div>
</nav>