<H4>Bem vindo ao HEFESTOS</H4>
<div class="d-flex p-2 justify-content-center align-items-center">
        <div class="card" style="width: 50rem;">
                <div class="card-header">
                        <h5> Selecione um método para iniciar

                        </h5>
                </div>
                <div class="card-body">
                        <a href="{{selecionarLink}}\situacao" class="btn btn-primary btn-lg">Situação/Aço/Eletrodo</a>
                        </br>
                </div>
                <div class="card-body">
                        <a href="{{selecionarLink}}\aco" class="btn btn-primary btn-lg">Aço/Eletrodo/Situação</a>
                        </br>
                </div>
                <div class="card-body">
                        <button type="button" class="btn btn-primary  btn-lg">Eletrodo/Aço/Situação</button>
                        </br>
                </div>
        </div>
</div>
</div>
</div>