<div class="d-flex flex-row mb-3 justify-content">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ESCOLHA UM MÉTODO PARA INICIALIAR</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>SITUAÇÃO/AÇO/ELETRODO</td>
          </tr>
      <tr>
          <td>AÇO/SITUAÇÃO</td>
          </tr>
      <tr>
          <td>AÇO/ELETRODO</tr>
          </tr>
      <tr>
          <td>ELETREDO/AÇO</td>

      </tr>
  </tbody>
</table>
</div>
