{{#each sitGet}}

<div class="d-inline-flex p-2">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{SINOME}}</h5>
        <p class="card-text">{{SIDESCRICAO}}</p>
        <a href="{{>selecionarLink}}/aco/{{SICODIGO}}" class="btn btn-primary">SELECIONAR</a>
    </div>
</div>
</div>
{{/each}}