<div class="card justify-content-center">
    <div class="card-body ">
        <h4 class="card-title">Cadastrar Usuário</h4>
        <br>
        <form action="/cadastro/usuario" method="POST">
            <label for="nome">Nome de usuario</label>
            <input id="nome" name="nome" type="text" placeholder="Nome" class="form-control">
            <br>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="email" class="form-control">
            <br>
            <label for="senha">Senha</label>
            <input id="senha" name="senha" type="password" placeholder="senha" class="form-control">
            <br>
            <label for="senha2">confirme sua senha</label>
            <input id="senha2" name="senha2" type="password" placeholder="senha" class="form-control">
            <button type="submit" class="btn btn-primary mb-2 mt-2">Salvar</button>
        </form>
    </div>
</div>