    {{>msg}}
<div class="card justify-content-center">
    <div class="card-body ">
        <h4 class="card-title">Cadastrar Aço</h4>
        <br>
        <form action="#" method="POST">
            <label for="cod" class="mar">Codigo AWS do Aço:</label>
            <input id="cod" name="cod" type="text" placeholder="Codigo AWS" class="form-control">
            <br>
            <label for="nome">Nomenclatura comum do Aço</label>
            <input id="nome" name="nome" type="text" placeholder="Nome" class="form-control">
            <br>
            <label for="dsc">Descrição do aço</label>
            <textarea class="form-control" id="dsc" rows="3"></textarea>
            <br>
            <button type="submit" class="btn btn-primary mb-2">Salvar</button>
        </form>
    </div>
</div>